body {
    margin: 0px;
    width: 100%;
    height: 100%;
}
.hide {
    display: none;
}
.show {
    animation-name: show;
    animation-duration: 0.7s;
}
@keyframes show {
      from {
          opacity: 0.1;
      }
      to {
          opacity: 1;
      }
}
.button {
    background: #dadada;
    max-width: 80px;
    margin: 0 auto;
    padding: 3px 0;
    border: 1px;
    border-style: outset;
}
.button.cb {
    max-width: 140px !important;
}
.button:active {
    transform: translateY(1px);
}
/* -------------- HEADER --------------- */
.header {
    height: 40px;
    background: white;
    padding: 5px;
    margin-bottom: 20px;
    box-shadow: 0px 1px 5px #ababab;
}
.logo {
    float: left;
    height: 100%;
}
.logo img {
    height: 40px;
}
.title, .title.show {
    position: absolute;
    left: 125px;
    right: 125px;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    font-weight: bold;
}
.menu {
    width: 40px;
    height: 40px;
    float: right;
    background: #dadada;
    box-shadow: inset 0 0 5px #8e8e8e;
}
.menu:active {
    background: #efefef;
}
.menu-content {
    width: 100%;
    height: 132px;
    position: absolute;
    top: 50px;
    right: 0px;
    left: 0px;
    overflow: hidden;
    height: 0px;
    transition: 0.5s;
}
.menu-content.on {
    height: 132px;
    transition: 1s;
}
.menu-toggle {
    width: 100%;
    background: rgb(121, 121, 121);
    color: white;
    position: relative;
    text-align: center;
    font-size: 20px;
    z-index: 1;
    transform: translateY(-100%);
    transition: 0.5s;
}
.menu-toggle.on {
    transform: translateY(0%);
    transition: 1s;
}
.menu-toggle ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.menu-toggle ul li {
    border-bottom: 1px #dadada solid;
    padding: 10px 0;
}
/* ---------------------------- */
.content {
    margin: 0 10px;
    margin-bottom: 40px;
}
.sub-title {
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
}
.content-products {
    width: 100%;
    height: 188px;
    overflow-y: scroll;
    overflow-x: hidden;
    border: 1px;
    border-style: inset none outset none;
    margin-bottom: 20px;
}
.products {
    width: 100%;
    padding: 5px;
    overflow: scroll;
    border-spacing: 7px 10px;
}
.row-products {
    width: 100%;
    height: auto;
}
.item {
    text-align: center;
}
.item-content {
    width: 100%;
    background: #dadada;
    padding: 5px 0px;
    border: 1px;
    border-style: outset;
    transform: translateY(-1px);
}
.item-content:active {
    background: #f1f1f1;
    border-style: inset;
    transform: translateY(0px);
}
.item-name {
    font-size: 10px;
    padding: 2px 1px;
}
.item-image img {
    width: 65px;
    height: auto;
    max-height: 41px;
}
.list-products {
    width: 100%;
    border-spacing: 0px 5px;
}
.item-list.less {
    text-align: center;
    box-shadow: inset 0 0 2px #000000;
    background: #dadada;
    width: 30px;
    height: 25px;
    padding: 0;
}
.column-number {
    text-align: left;
    width: 50px;
}
.item-list.number {
    text-align: center;
    font-weight: bold;
    width: 30px;
    margin-left: 10px;
}
.column-price {
    text-align: left;
    width: 85px;
}
.item-list.price {
    text-align: right;
    font-weight: bold;
    width: 70px;
}
.item-list.delete {
    text-align: center;
    width: 25px;
    height: 25px;
    box-shadow: inset 0 0 5px #000000;
    background: red;
    color: white;
    padding: 0px;
}
.row-list {
    display: none;
}
.row-list.on {
    display: table-row;
}
/* ------- footer ------ */
.sell {
    position: fixed;
    text-align: center;
    width: 100%;
    height: 40px;
    bottom: 0px;
}
.sell-button {
    width: 50%;
    height: 100%;
    float: left;
    background: #179e17;
    color: white;
    font-weight: bold;
    line-height: 40px;
}
.sell-button:active {
    background: #41b541;
    transform: translateY(-1px);
    border-bottom: 1px #41b541 solid;
}
.sell-total {
    width: 50%;
    box-shadow: inset 0 1px 1px #a5a5a5;
    height: 100%;
    float: left;
    color: #3c3c3c;
    line-height: 40px;
    background: white;
}
.item-list.total-price {
    width: 60px;
    height: 25px;
    border: none;
    text-align: left;
    font-size: 16px;
}
/* ---------------- PANEL ADMINISTRATIVO ----------------- */
.new-product {
    margin-bottom: 15px;
}
.new-fields {
    width: 100%;
    margin-bottom: 5px;
}
.new-fields tr td {
    padding-right: 5px;
}
.new-fields input {
    height: 20px;
}
.text-field {
    width: 60px;
    padding-right: 0px !important;
}
.new-field.name {
    width: 100%;
}
.new-field.price {
    width: 100%;
    max-width: 80px;
}
.new-field.image {
    width: 100%;
}
.new-buttons {
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
}
.new-buttons tr td {
    width: 50%;
}
#catalog {
    margin-bottom: 20px;
}
#product-catalog {
    width: 100%;
}
#product-catalog tr td {
    border-bottom: 1px #dadada solid;
    padding: 3px 2px;
}
.table-header {
    background: #dadada;
}
.txtid {
    display: none;
}
#product-catalog .txtprice {
    width: 50px;
    border-left: 1px #dadada solid;
    border-right: 1px #dadada solid;
}
/* -------------------- REPORTES ------------------------ */
.new-fields.dates input {
    width: 110px;
}
#MontoDia {
    font-size: 16px;
    border: none;
    width: 100px;
}
#orders {
    width: 100%;
    height: auto;
    max-height: 300px;
    overflow-y: scroll;
    border-bottom: 1px #cbcbcb solid;
    border-top: 1px #cbcbcb solid;
    margin-bottom: 20px;
    margin-top: 7px;
}
#report-info {
    width: 100%;
}
#report-info tr td {
    border-bottom: 1px #dadada solid;
    padding: 3px 4px;
}
#report-info .txtTotal {
    border-left: 1px #dadada solid;
    border-right: 1px #dadada solid;
}
#report-info .txtFecha {
    width: 100px;
}
/* reporte por pedido */
#order-details {
    margin-bottom: 20px;
    padding-bottom: 5px;
    border-bottom: 1px #cbcbcb solid;
}
.sub-title.detalle-reporte {
    margin-bottom: 10px;
}
#PedidoVenta {
    font-size: 16px;
    border: none;
    width: 100px;
}
#report-info-detalle {
    width: 100%;
}
#report-info-detalle tr td {
    border-bottom: 1px #dadada solid;
    padding: 3px 4px;
}
#report-info-detalle .txtCantidad {
    border-left: 1px #dadada solid;
    border-right: 1px #dadada solid;
    width: 60px;
}
/* reporte por busqueda */
#report-detail {
    margin-bottom: 20px;
}
/* caja */
#cobrar {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 10;
    background: rgba(255, 255, 255, 0.5);
}
#caja {
    width: 250px;
    margin: 0 auto;
    margin-top: 50%;
    padding: 20px 10px;
    background: #dadada;
    box-shadow: inset 0 1px 6px #636363;
}
#cobrar-info {
    width: 100%;
    margin-bottom: 15px;
    font-size: 18px;
}
.precio-caja input {
    width: 50px;
    height: 22px;
    font-size: 18px;
    padding: 3px 2px;
    border: none;
}
.button.cobrar {
    text-align: center;
    background: white;
    font-size: 18px;
}
#VentaProducto {
    font-size: 16px;
    border: none;
    width: 100px;
}